@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');
@import url('/styles/forecast.css');

body{
    height: 100vh;
    background-image: url('/assets/weatherBgImages/clearSky.jpg');
    background-repeat: no-repeat;
    background-size: 150%;
    display: flex;
    justify-content: center;
    font-family: 'montserrat', sans-serif;
    flex-flow: column;
    align-items: center;
}

.icon-authors{
    margin-top: auto;
    font-size: 12px;
}

a{
    text-decoration: none;
    color: midnightblue;
}

footer{
    background: rgba(224, 224, 224, 0.4);
    padding: 6px;
    width: 100vw;
    text-align: center;
}

@media only screen and (max-width:811px) {
    body{
        background-size: 500%;
    }
}